{% extends "base.html" %}
{% block title %}View - Account{% endblock %}

{% block content %}

<section class=row>
  <div class=span4>
    <h2>Hi there!</h2>

    <p>Your account details are:</p>

    <dl>
      <dt>Username</dt>
      <dd><code>{{user.username}}</code></dd>
      <dt>Email address</dt>
      <dd class="editable" data-key="email">{{user.email}}</dd>
      <dt>Registered since</dt>
      <dd>
        <time
          class='js-relative-date'
          datetime='{{ user.created_at.isoformat() }}'
          title='{{ user.created_at }}'>
          {{ user.created_at }}
        </time>
      </dd>
    </dl>
  </div>
  <div class=span4>
    <h2>Bookmarklet</h2>

    <p>
      Here's the bookmarklet:
    </p>

    <p class=bookmarklet>
      <a class=bookmarklet href="javascript:{{ bookmarklet }}">AnnotateIt</a>
    </p>

    <p>
      Drag it into your bookmarks bar, go to a web page you want to annotate, and then click it. That's it!
    </p>

    <p>
      <small>
        Your browser will need to accept 3rd-party cookies, which it usually will by default. If you&rsquo;ve changed this setting, you'll need to add an exception for <tt>annotateit.org</tt>.
      </small>
    </p>

  </div>
  <div class=span4>
    <h2>Account summary</h2>
    <p>
      You&rsquo;ve created <strong>{{ stats['num_annotations'] }}</strong> annotations on <strong>{{ stats['num_uris'] }}</strong> different web pages.
    </p>
  </div>
</section>
<hr>
<section>
  <h2>Consumer keys</h2>
  <p>
    Consumer key/secret pairs are AnnotateIt's API keys, and allow you to build applications that use AnnotateIt for annotation storage, while retaining control over the authentication of your users. See
    <a href="https://github.com/okfn/annotator/wiki/Authentication">the documentation</a>
    for a more detailed explanation.
  </p>
  {% if user.consumers.count() %}
  <table class="table table-condensed table-striped">
    <tr>
      <th>key</th><th>secret</th><th>&nbsp;</th>
    </tr>
    {% for c in user.consumers %}
      <tr>
        <td><code>{{c.key}}</code></td>
        <td><code>{{c.secret}}</code></td>
        <td>
          {% if c.key != 'annotateit' %}
            <a onclick='return confirm("Are you sure you want to delete this consumer key?")'
               href='{{url_for('.delete_consumer', key=c.key)}}'
               rel=nofollow>
               &times; Delete
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
  <p><em>No keys associated with this account.</em></p>
  {% endif %}
  <p>
    <a href="{{ url_for('.add_consumer') }}" rel=nofollow>
      Request
      {% if user.consumers.count() %}another{% else %}a{% endif %}
      key &raquo;
    </a>
  </p>
</section>
<hr>
<section>
  <h2>Recent annotations</h2>
  {% from "_annotation.html" import render_annotation %}
  <div class="recent-annotations">
  {% for anno in annotations %}
      {{ render_annotation(anno, user) }}
  {% else %}
    <p><em>No recent annotations.</em></p>
  {% endfor %}
  </div>
</section>

{% endblock %}
