{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Log in{% endblock %}

{% block content %}
  <section>
    <h2>Log in</h2>
    <form method="post" class="form-horizontal primary">
      <fieldset>
        {{ form.hidden_tag() }}
        {{ render_field(form.login, placeholder="joe.bloggs", class="grabfocus") }}
        {{ render_field(form.password, placeholder="••••••••") }}

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Log in</button>
          &nbsp;&nbsp;
          <a href="{{ url_for('.reset_password_request') }}">Forgot your password?</a>
        </div>
      </fieldset>
    </form>
  </section>
{% endblock %}
