{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Sign up{% endblock %}

{% block content %}

  <h2>Sign up</h2>

  <form method="post" class="form-horizontal primary">
    <fieldset>
      {{ form.hidden_tag() }}
      {{ render_field(form.username, placeholder="joe.bloggs") }}
      {{ render_field(form.email, placeholder="joe.bloggs@example.com") }}
      {{ render_field(form.password, placeholder="••••••••") }}
      {{ render_field(form.confirm, placeholder="••••••••") }}
      {% if captcha %}
        {{ render_field(form.captcha) }}
      {% endif %}

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </fieldset>
  </form>

{% endblock %}
