<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Prevent the conditional comments from stalling page load -->
  <!--[if IE]><![endif]-->

  <title>{% block title %}{% endblock %} - AnnotateIt - Annotating the Web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  {% block head %}
  {% endblock %}
  {% if not g.debug %}
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8271754-20']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  {% endif %}
</head>
<body>
  <div class="container">
    <header class=row>
      {% block masthead %}
      <h1 class=span5>
        <a class=nounderline href="{{url_for('main.index')}}" title="The AnnotateIt Homepage">
          AnnotateIt
        </a>
      </h1>
      <nav class=span7>
        <ul class=inline>
        {% if g.user %}
          <li><a href="{{ url_for('user.home') }}">My account</a></li>
          <li><a href="{{ url_for('user.logout') }}">Log out</a></li>
        {% else %}
          <li><a href="{{ url_for('user.signup') }}">Sign up</a></li>
          <li><a href="{{ url_for('user.login') }}">Log in</a></li>
        {% endif %}
          <li><a href="http://okfnlabs.org/annotator/">Annotator</a></li>
          <li><a href="{{ url_for('main.index') }}#about">About</a></li>
          <li><a href="http://www.shuttleworthfoundation.org/"><img src="http://farm8.staticflickr.com/7002/6431161181_10711abd2a_o.jpg" style="float: right; border: none; width: 120px; margin-bottom: -13px;"/></a></li>
        </ul>
      </nav>
      {% endblock %}
    </header>
    <hr>

    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}}">
        <a class="close nounderline" data-dismiss="alert">×</a>
        {{ message }}
      </div>
    {% endfor %}

    <article>
      {% block content %}{% endblock %}
    </article>

    <hr>
    <footer>
      {% block footer %}
      <p>
        Annotator is developed by the
        <img src="http://assets.okfn.org/images/logo/okf_logo_white_and_green_tiny.png"
             id="okf-logo">
        <a href="http://okfn.org">Open Knowledge Foundation</a>
        with support from the
        <a href="http://www.shuttleworthfoundation.org/">Shuttleworth Foundation</a>.
        Go see what other cool stuff we're doing at the moment!
      </p>

      <ul class=inline>
        <li>&copy; 2009&ndash;2012 <a href="http://okfn.org/">Open Knowledge Foundation</a> </li>
        <li>
          <a href="http://opendefinition.org/okd/" class=nounderline>
          <img alt="This Content and Data is Open" src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png">
          </a>
        </li>
        <li>
          <a href="http://opendefinition.org/ossd/" class=nounderline>
          <img alt="This Content and Data is Open" src="http://assets.okfn.org/images/ok_buttons/os_80x15_blue.png">
          </a>
        </li>
      </ul>

      <ul class=inline>
        <li> <a href="https://github.com/okfn/annotator/">Annotator on Github</a> </li>
        <li> <a href="{{ url_for('store.root') }}">API</a> </li>
        <li> <a href="http://docs.annotatorjs.org/en/latest/storage.html">API Docs</a> </li>
        <li> <a href="{{ url_for('main.contact') }}">Contact Us</a> </li>
        <li> <a href="http://okfn.org/privacy-policy/">Privacy Policy</a>   </li>
      </ul>
      {% endblock %}
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  {% block script %}{% endblock %}
</body>
</html>
