<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Prevent the conditional comments from stalling page load -->
  <!--[if IE]><![endif]-->

  <title>{% block title %}{% endblock %} - AnnotateIt - Annotating the Web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  {% block head %}
  {% endblock %}
  {% if not g.debug %}
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8271754-20']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  {% endif %}
</head>
<body>
  <div class="container">
    <header class=row>
      {% block masthead %}
      <h1 class=span5>
        <a class=nounderline href="{{url_for('main.index')}}" title="The AnnotateIt Homepage">
          AnnotateIt
        </a>
      </h1>
      {% endblock %}
    </header>
    <hr>

    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}}">
        <a class="close nounderline" data-dismiss="alert">×</a>
        {{ message }}
      </div>
    {% endfor %}

    <article>
      {% block content %}{% endblock %}
    </article>

    <hr>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  {% block script %}{% endblock %}
</body>
</html>
