{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
  <section class=clearfix>
    <h2>AnnotateIt is closing its doors</h2>
    <p>
      <strong>March 11, 2017.</strong>
      AnnotateIt is now closed, but the project to annotate the web continues.
      The <a href="https://www.w3.org">W3C</a> has 
      <a href="https://hypothes.is/blog/annotation-is-now-a-web-standard/">recently
      standardised</a> annotation, and development over at
      <a href="https://hypothes.is">Hypothesis</a> continues apace.
    </p>
    <p>
      If you're interested in making your own annotations on the web, we
      encourage you to check out <a href="https://hypothes.is">Hypothesis</a>,
      which is built and maintained by the people who made Annotator and
      AnnotateIt.
    </p>
    <p>
      If you have an AnnotateIt account, you can still 
      <a href="{{ url_for('user.login') }}">log in</a>, but we are now closed 
      for signups.
    </p>
    <p>
      We do not currently have a timescale for shutting down the service fully,
      but we recommend that if you want to keep your data, you use
      <a href-"http://annotateit.org/api/">the API</a> to export it.
    <p>
  </section>
{% endblock %}
