@import url("http://fonts.googleapis.com/css?family=Arvo:700");
.annotateit-annotation {
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(251, 251, 251, 0.98);
  border: 1px solid rgba(122, 122, 122, 0.6);
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.annotateit-annotation .ann-head {
  margin-top: 8px;
  background: none;
  zoom: 1;
}
.annotateit-annotation .ann-head img {
  float: left;
  width: 50px;
  border: 1px solid #333;
  padding: 0;
  margin: 0px 8px;
  background: none;
}
.annotateit-annotation .ann-head .ann-head-right {
  width: auto;
  margin: 0px 8px 8px 66px;
  padding: 0;
}
.annotateit-annotation .ann-head .ann-head-right .ann-username {
  font-family: 'Arvo', Arvo, serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}
.annotateit-annotation .ann-head:before,
.annotateit-annotation .ann-head:after {
  content: "";
  display: table;
}
.annotateit-annotation .ann-head:after {
  clear: both;
}
.annotateit-annotation .ann-body {
  margin: 0px 8px 8px 8px;
}
.annotateit-annotation .ann-body .text {
  font-family: Georgia, Palatino, serif;
  margin: 8px 0;
  font-size: 140%;
}
.annotateit-annotation .ann-body .null-text {
  color: #555;
  margin: 20px 0;
  font-size: 120%;
  font-style: italic;
}
.annotateit-annotation .ann-body .ann-meta {
  color: #aaa;
  font-size: 90%;
  margin: 10px 0 0 0;
}
.annotateit-annotation a:link,
.annotateit-annotation a:visited {
  color: #aaa;
}
.annotateit-annotation a:hover,
.annotateit-annotation a:focus {
  color: #3665fa;
}
.annotateit-annotation a:active {
  color: #f50998;
}
