.github-btn {
  font: bold 11px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 20px;
  overflow: hidden;
}
.gh-btn,
.gh-count,
.gh-ico {
  float: left;
}
.gh-btn,
.gh-count {
  padding: 2px 5px 2px 4px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.gh-btn {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.gh-btn:hover,
.gh-btn:focus {
  color: #333;
  text-decoration: none;
  background-position: 0 -10px;
}
.gh-btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
.gh-ico {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  vertical-align: middle;
  background: url(images/github-icons.png) no-repeat 0 0;
  opacity: .65;
}
.gh-btn:hover .gh-ico,
.gh-btn:focus .gh-ico {
  opacity: .75;
}
.gh-count {
  font-weight: normal;
  display: none;
  /* hidden to start */

  margin-left: 2px;
  background-color: #fff;
  border: 1px solid #bbb;
}
.gh-count:hover,
.gh-count:focus {
  text-decoration: underline;
  color: #333;
}
.github-btn-large {
  height: 28px;
}
.github-btn-large .gh-btn,
.github-btn-large .gh-count {
  padding: 2px 5px 2px 5px;
  font-size: 13px;
  line-height: 22px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.github-btn-large .gh-ico {
  width: 22px;
  height: 22px;
  background-position: 0 -20px;
}
.github-btn-large .gh-count {
  margin-left: 4px;
}
