@import url("http://fonts.googleapis.com/css?family=Arvo:700");
img {
  display: block;
  border: 5px solid #333;
}
img.float-right {
  margin-left: 10px;
  float: right;
}
img.float-left {
  margin-right: 10px;
  float: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arvo, Helvetica, sans-serif;
  font-weight: bold;
}
a {
  color: #323232;
  text-decoration: none;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  -o-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  -o-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}
a.nounderline {
  border: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #3665fa;
}
a:active {
  text-decoration: none;
  color: #f50998;
}
code {
  font-family: Inconsolata;
  color: #000;
}
code .string {
  color: #cf1040;
}
code .comment {
  color: #ccc;
}
ul.inline {
  margin-left: 0;
  padding-left: 0;
}
ul.inline li {
  display: inline;
}
ul.inline li::after {
  display: inline-block;
  padding: 0 0.5em;
  content: "/";
}
ul.inline li:last-of-type::after {
  display: none;
}
/**************************************
  * Header
  *************************************/
header,
section {
  margin: 20px 0 0 0;
}
header h1 {
  margin: 27px 0 0 0;
  position: relative;
  font-size: 4em;
}
header h1 a,
header h1 a:hover,
header h1 a:focus,
header h1 a:active {
  border: none;
  color: #333;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
header h1:after {
  position: absolute;
  content: "";
  display: block;
  height: 34px;
  width: 28px;
  left: -30px;
  top: -15px;
  background: url(images/glyph-logo.png) no-repeat top left;
}
header h1:hover:after,
header h1:focus:after {
  background-position: left center;
}
header h1:active:after {
  background-position: left bottom;
}
header nav {
  text-align: right;
  margin-top: 50px;
  font-size: 1.467em;
}
header nav a {
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
header nav a:hover,
header nav a:focus {
  border-color: #3665fa;
}
header nav a:active {
  border-color: #f50998;
}
.alert {
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
}
/**************************************
  * Footer
  *************************************/
footer {
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  padding: 1em 1em 0 1em;
  margin-top: 2em;
  margin-bottom: 3em;
  line-height: 1.4;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
footer {
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  opacity: 0.4;
}
footer:hover {
  opacity: 0.9;
}
footer img {
  display: inline;
  border: none;
}
#okf-logo {
  margin-bottom: -4px;
}
footer a img {
  margin-bottom: -4px;
}
/**************************************
  * General
  *************************************/
form.primary {
  margin-top: 10px;
}
.thumbnails img {
  margin-bottom: 10px;
}
.editable:hover {
  background: #ffc;
}
.editable:hover:after {
  font-size: 0.8em;
  color: #aaa;
  content: " click to edit…";
}
form.inline-edit {
  margin: 0;
}
form.inline-edit input {
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
}
/**************************************
  * Annotation display
  *************************************/
.annotateit-annotation {
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(251, 251, 251, 0.98);
  border: 1px solid rgba(122, 122, 122, 0.6);
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.annotateit-annotation .ann-head {
  margin-top: 8px;
  background: none;
  zoom: 1;
  zoom: 1;
}
.annotateit-annotation .ann-head img {
  float: left;
  width: 50px;
  border: 1px solid #333;
  padding: 0;
  margin: 0px 8px;
  background: none;
}
.annotateit-annotation .ann-head .ann-head-right {
  width: auto;
  margin: 0px 8px 8px 66px;
  padding: 0;
}
.annotateit-annotation .ann-head .ann-head-right .ann-username {
  font-family: 'Arvo', Arvo, serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}
.annotateit-annotation .ann-head:before,
.annotateit-annotation .ann-head:after {
  content: "";
  display: table;
}
.annotateit-annotation .ann-head:after {
  clear: both;
}
.annotateit-annotation .ann-head:before,
.annotateit-annotation .ann-head:after {
  content: "";
  display: table;
}
.annotateit-annotation .ann-head:after {
  clear: both;
}
.annotateit-annotation .ann-body {
  margin: 0px 8px 8px 8px;
}
.annotateit-annotation .ann-body .text {
  font-family: Georgia, Palatino, serif;
  margin: 8px 0;
  font-size: 140%;
}
.annotateit-annotation .ann-body .null-text {
  color: #555;
  margin: 20px 0;
  font-size: 120%;
  font-style: italic;
}
.annotateit-annotation .ann-body .ann-meta {
  color: #aaa;
  font-size: 90%;
  margin: 10px 0 0 0;
}
.annotateit-annotation a:link,
.annotateit-annotation a:visited {
  color: #aaa;
}
.annotateit-annotation a:hover,
.annotateit-annotation a:focus {
  color: #3665fa;
}
.annotateit-annotation a:active {
  color: #f50998;
}
.recent-annotations .annotateit-annotation {
  margin: 0 0 10px 0 !important;
}
/**************************************
  * Highlights
  *************************************/
p.bookmarklet {
  text-align: center;
}
a.bookmarklet {
  padding: 0.3em 0.5em;
  border: none;
  background: #b2b2b2;
  color: #141414;
  text-shadow: 0px 1px 0px #e6e6e6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/**************************************/
@media (max-width: 767px) {
  .container {
    padding: 0 40px;
  }
  header h1 {
    margin-top: 50px !important;
  }
  header nav {
    text-align: left;
    margin-top: 20px !important;
  }
}
@media (max-width: 979px) {
  header h1 {
    margin-top: 29px;
    font-size: 3.333em;
  }
  header nav {
    font-size: 1.2em;
  }
}
.github-btn {
  font: bold 11px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 20px;
  overflow: hidden;
}
.gh-btn,
.gh-count,
.gh-ico {
  float: left;
}
.gh-btn,
.gh-count {
  padding: 2px 5px 2px 4px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.gh-btn {
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.gh-btn:hover,
.gh-btn:focus {
  color: #333;
  text-decoration: none;
  background-position: 0 -10px;
}
.gh-btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
.gh-ico {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  vertical-align: middle;
  background: url(images/github-icons.png) no-repeat 0 0;
  opacity: .65;
}
.gh-btn:hover .gh-ico,
.gh-btn:focus .gh-ico {
  opacity: .75;
}
.gh-count {
  font-weight: normal;
  display: none;
  /* hidden to start */

  margin-left: 2px;
  background-color: #fff;
  border: 1px solid #bbb;
}
.gh-count:hover,
.gh-count:focus {
  text-decoration: underline;
  color: #333;
}
.github-btn-large {
  height: 28px;
}
.github-btn-large .gh-btn,
.github-btn-large .gh-count {
  padding: 2px 5px 2px 5px;
  font-size: 13px;
  line-height: 22px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.github-btn-large .gh-ico {
  width: 22px;
  height: 22px;
  background-position: 0 -20px;
}
.github-btn-large .gh-count {
  margin-left: 4px;
}
.github-btn {
  zoom: 1;
  zoom: 1;
  clear: both;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.github-btn:before,
.github-btn:after {
  content: "";
  display: table;
}
.github-btn:after {
  clear: both;
}
.github-btn:before,
.github-btn:after {
  content: "";
  display: table;
}
.github-btn:after {
  clear: both;
}
